<div
  style="width: 61px; height: 1075px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 25px;left: 50px; display: inline-flex;position: absolute;">
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'" style="width: 12px; height: 0px;"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'" style="width: 33px; height: 0px;"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 41px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 19px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 24px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 30px; height: 0px; border: 1px #646464 solid"></div>
  <div style="width: 61px; height: 0px; border: 1px #FD8F48 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 30px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 24px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 19px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 41px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 33px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div style="width: 21px; height: 0px; border: 1px #646464 solid"></div>
</div>
@if( data !== 'pass') {
<div class="second">
  <!--  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'" style="width: 12px; height: 0px; border: 1px #646464 solid"></div> -->
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 33px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 41px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 19px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 24px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 30px; height: 0px; border: 1px #646464 solid"></div>
  <div style="width: 61px; height: 0px; border: 1px #FD8F48 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 30px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 24px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 19px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 41px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 33px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 21px; height: 0px; border: 1px #646464 solid"></div>
</div>
}

@if(data !== 'about' && data !== 'pass'){
<div class="third">
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 33px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 41px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 19px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 24px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 30px; height: 0px; border: 1px #646464 solid"></div>
  <div style="width: 61px; height: 0px; border: 1px #FD8F48 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 30px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 24px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 19px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 41px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 33px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 21px; height: 0px; border: 1px #646464 solid"></div>
</div>
}
@if(data !== 'about' && data !== 'pass'){
<div class="fourth">
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 41px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 19px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 24px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 30px; height: 0px; border: 1px #646464 solid"></div>
  <div style="width: 61px; height: 0px; border: 1px #FD8F48 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 30px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 24px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 19px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 41px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 41px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>
  <div [style.border]="dark ? '1px #646464 solid' : '1px #d8d5d5 solid'"
    style="width: 12px; height: 0px; border: 1px #646464 solid"></div>

</div>
}