.image-container {
  position: absolute;
  top: 278px;
  right: 82.7% ;
  z-index: 1;
}

.image-container img {
  position: absolute;
  opacity: 0;
  /* transition: 0.3s ease */
}

.image-container img.active {
  opacity: 1;
}

.image-container img.hidden {
  opacity: 0;
}

.container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.content {
  width: 671px;
  padding: 10px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: #000;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.716px;

}

.content-2 {
  width: 671px;
  padding: 10px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  gap: 41px;
  color: #000;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.716px;

}



.title-box {
  padding: 18px;
  background: white;
  border-radius: 40px;
  text-align: center;
  font-size: 22px;
  font-family: Poppins;
  font-weight: 500;
  letter-spacing: 0.72px;
  width: 150px;
}

.step-title {
  font-size: 22px;
  font-family: Poppins;
  font-weight: 700;
}

.step-number {
  color: #9B9B9B;
}

.step-text {
  color: black;
}

.step-description {
  font-size: 20px;
  font-family: Poppins;
  font-weight: 300;
}

.gray {
  color: #9B9B9B;
}

.steps-container {
  display: flex;
  gap: 19px;
  border-radius: 40px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.716px;
}

.step-box {
  padding: 10px;
  background: #EFEFEF;
  border-radius: 40px;
  cursor: pointer;
}

.step-box.selected {
  background: white;
  border: 1px solid #EFEFEF;
}

/* .image-container img {
  width: 268px;
  height: 332px;
}  */


.timeline {
  position: relative;
  padding-left: 20px;
  overflow-y: auto;
  max-height: 419px;
  background: #f7f4f4;
  border-radius: 17px;
  padding-top: 13px;
  margin-bottom: 105px;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border-left: 2px solid #ccc;
  }

  li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 20px;
    bottom: 17px;

    .dot {
      position: absolute;
      left: -6px;
      width: 10px;
      height: 10px;
      background-color: black;
      border-radius: 50%;
      top: 16px;
    }

    .content {
      h3 {
        margin: 0;
        font-size: 1.2em;
      }

      p {
        margin: 5px 0;
        color: gray;
      }
    }
  }

}

.slider {
  width: 72%;
  overflow: hidden;
  position: relative;
  left: 196px;
  margin-top: 100px;

}

.image-track {
  display: flex;
  gap: 30px;
  width: 200%; /* Adjusted for seamless transition */
  animation: slideTrain 30s linear infinite;
}


@keyframes slideTrain {
  0% {
      transform: translateX(0%);
  }
  100% {
      transform: translateX(-100%);
  }
}

.heartbeat-container {
  animation: heartbeat 1.5s infinite ease-in-out;
}

.stopped {
  animation: none !important;
}


@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rotateCircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotating-image {
  position: relative;
  right: 6px;
  bottom: 4px;
  animation: rotateCircle 5s infinite linear;
}

/* Initial hidden state for the popup */
.popup {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 85%); /* Dark semi-transparent background */
  justify-content: center;
  align-items: center;
  z-index: 9999;
  
}

/* Optional: Add transition effect */
.popup {
  transition: opacity 0.3s ease-in-out;
}


.social-icons {
  display: flex;
  gap: 20px;
}

.social-icon img {
  width: 36.73px;
  height: 36.73px;
  transition: opacity 0.3s ease-in-out;
}
.black-social :hover {
  transform: scale(1px);
}


.contact {
  border-radius: 33px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  min-height: 500px;
  width: 679px;
  padding: 17px 24px 34px;
  flex-direction: column;
  align-items: stretch;
  font-family:
    Poppins,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 16px;
  color: #000000;
  font-weight: 400;
  letter-spacing: 0.72px;
}

.contact-image {
  aspect-ratio: 1.79;
  object-fit: contain;
  object-position: center;
  width: 100%;
  border-radius: 7px;
  background-color: rgba(253, 143, 72, 1);
}

.contact-content {
  align-self: center;
  display: flex;
  margin-top: 197px;
  margin-right: 45px;
  width: 203px;
  max-width: 100%;
  align-items: stretch;
  gap: 20px;
  justify-content: space-between;
}

.arrow-text {
  margin-top: 74px;
}

.status-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
}

.status-icon {
  aspect-ratio: 1.33;
  object-fit: contain;
  object-position: center;
  width: 73px;
  align-self: center;
}

.status-text {
  align-self: stretch;
  border-radius: 40px;
  background-color: rgba(239, 239, 239, 0);
  margin-top: 12px;
  width: 100%;
  padding: 10px;
  gap: 10px;
}
.krish-white,.krish-black {
  position: absolute;
  top: 156px;
  left: 58%;
}
.contact-me-rotate{
  width: 133px;
  height: 133px;
  position: absolute;
  left: 75%;
  top: 70%;
}
.why-me-height{
  display: flex;
  justify-content: center;
  gap:40px;
  margin-top: 22%;
}


@media only screen and (min-width: 1600px) {
  .image-container{
      right: 79.7%;
  }
  .krish-white,.krish-black {
    position: absolute;
    top: 156px;
    left: 56%;
  }
  .contact-me-rotate{
    width: 133px;
    height: 133px;
    position: absolute;
    left: 74%;
    top: 67%;
  }
  .why-me-height{
    display: flex;
    justify-content: center;
    gap:40px;
    margin-top: 16%;
  }
}

@media only screen and (min-width: 1500px) and (min-height: 800px) {
  .contact-me-rotate{
    width: 133px;
    height: 133px;
    position: absolute;
    left: 70%;
    top: 55%;
  }
  .image-container{
    right: 75.7%;
}
}
